*

!.gitignore
!Idea.txt
!just tacos and burritos.csv
!Taco_Exploration.ipynb
!testFunctions.py
!layout.html
!app.py
!Program_Functions.py
!Cleaned_tacos.csv
!Templates/index.html
!Templates/layout.html
!Templates